/* Pon tu código css aqui */
#pink{
	width: 200px;
	height: 200px;
	background-color:#ee3e64;
	position: absolute;
	left: 0;
	top: 0;

}
#blue{
	width: 200px;
	height: 200px;
	background-color: #44accf;
	position: absolute;
	right: 0;
	top: 0;
}

#green{
	width: 200px;
	height: 200px;
	background-color: #b7d84b;
	position: absolute;
	left: 0;
	bottom: 0;

}
#yellow {
	width: 200px;
	height: 200px;
	background-color: yellow;
	position: absolute;
	right: 0;
	bottom: 0;
}
body{
	margin: 0px;
	padding: 0px;
}